body {
  background-image: url("paper-texture.jpg");
  opacity: 80%;
  background-size: cover;
  background-repeat: repeat;
}

.App {
  text-align: center;
  margin: 30px;
  font-size: 30px;
}

.App .header img {
  display: block;
  margin: 0 auto;
  width: 350px;
}

.App footer {
  margin-top: 40px;
  font-size: 18px;
}

.App footer img {
  display: inline;
  height: 30px;
  position: relative;
  top: 6px;
}
