.Meaning h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
}

.Meaning .definition {
  font-size: 18px;
  line-height: 1.5;
}

.Meaning .example {
  color: #2b2b2b;
  font-style: italic;
  font-size: 16px;
  margin-top: 10px;
}
